body {
    background-color: #e6effa;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

.price {
    color: #AF2655;
    font-weight: 600;
}

h2, p {
    font-family: 'Quicksand', sans-serif;
    padding-left: 10px;
    color: #352F44;
}

.products {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width: 300px;
    height: auto;
    margin: 50px;
    background-color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    width: 290px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
}

#percentage {
    border-radius: 10px;
    padding-top: 5px;
    background-color: rgb(196, 206, 255);
    width: 6rem;
    height: 2rem;
    position: relative;
    top: -25em;
    z-index: 5;
}